.App {
  font-family: sans-serif;
  text-align: center;
  padding: 15px;
}

.Task-Field {
  font-size: 18px;
  border: none;
  border-bottom: solid 1px;
  padding-bottom: 3px;
}

.Save-Button {
  font-size: 18px;
  border: none;
  background: #038cfc;
  padding: 8px;
}
.Save-Button:hover {
  font-size: 18px;
  border: none;
  background: #025599;
  padding: 8px;
}

.Tasks {
  width: 400px;
  border: solid 1px #ccc;
  padding-top: 15px;
  margin-top: 5px;
}

.Delete-Button {
  margin-top: 10px;
  background: #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Delete-Button > button {
  border: none;
  margin-right: 5px;
  font-size: 14px;
  padding: 5px;
  background-color: #caa;
}
.Delete-Button > button:hover {
  background-color: #9aa;
}

.List {
  display: flex;
  flex-direction: column;
  align-items: center;
}
